::ng-deep .map-container {
    width: 100% !important;
    height: 100%;
    margin-top: 10px;
}

::ng-deep .adp-directions {
    width: 100% !important;
}

.googleMap {
    display: flex;
    flex-direction: row;
}

#indicators {
    overflow-y: scroll;
    max-height: 30%;
}

.tavelModeSwitch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.drivingOption {
    margin-right: 10px;
}

.bicyclingOption {
    margin-right: 10px;
}