<div class="local-product-detail">
    <!-- <button (click)="goToBackPage()">X</button> -->
    <div fxLayout="row" fxLayoutAlign="end center"> <button (click)="goToBackPage()" mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon class="iconClear">clear</mat-icon>
        </button></div>
    <section class="attributesShop">
        <!-- <span>{{shopShowed.NOMBRE}}</span> 
        <span>{{shopShowed.PLAZAS}}</span>
        <span>{{shopShowed.TELEFONO}}</span>
        <span>{{shopShowed.MUNICIPIO}}</span> -->
        <div fxLayout="row" fxLayoutAlign="center center">
            <img class="box" src="https://i.ibb.co/G0QFsqN/casa-ana.jpg" alt="Casa de Ana" width="162" height="162">
        </div>
        <strong> <span style="font-size: 20px; margin-bottom: 10px;">La Cesta de Ana</span> </strong>
        <span class="box" style="text-align:left">La Cesta de Ana es una multitienda con un toque especial. Tiene todo
            lo
            necesario
            para el día a día:
            artículos de alimentación,aseo, limpieza, fruta y verdura frescas del día, golosinas, papas, etc. Además
            tiene una zona gourmet con productos seleccionados ideales para hacer cestas de regalo. Y este año, como
            novedad, comenzamos a vender perritos calientes. ¡Te esperamos!</span>
        <div style="border-bottom: 1px solid #0000000f;"></div>
        <div class="box" fxLayout="row" fxLayoutAlign=" center">
            <mat-icon>date_range</mat-icon> <span>Lunes a Viernes
                8-21h
                Sábados, domingos y festivos 10-21h</span></div>
        <div class="box" fxLayout="row" fxLayoutAlign=" center">
            <mat-icon> location_on</mat-icon> <span> C/ Juana la
                Blanca 44,
                local 2 38202 La Laguna </span></div>
        <div class="box" fxLayout="row" fxLayoutAlign=" center">
            <mat-icon> phone</mat-icon> <span>637750354</span>
        </div>
        <div class="box" fxLayout="row" fxLayoutAlign=" center">
            <mat-icon>laptop</mat-icon>
            <a style="color:black;" href="https://www.graniertenerife.es/" target="_blank">https://www.graniertenerife.es/</a>
        </div>
        <div class="box" fxLayout="row" fxLayoutAlign=" center">
            <a href="http://www.instragram.com/" target="_blank"><img src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/null/external-instagram-a-popular-social-networking-service-with-magic-filters-logo-color-tal-revivo.png" /></a>
            <a href="http://www.facebook.es/" target="_blank"><img src="https://img.icons8.com/color/48/null/facebook-circled--v1.png" /></a>

        </div>
    </section>
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
</div>